@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joan&family=Lato:wght@100;400&family=Space+Mono&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Joan', serif;
font-family: 'Lato', sans-serif;
font-family: 'Space Mono', monospace;
*/

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    max-width: 900px;
    margin: auto;
}

.blog h1, 
.blog h2, 
.blog h3, 
.blog h4, 
.blog h5, 
.blog h6 {
    margin-bottom: 16px;
}

p {
    line-height: 1.5;
    margin: 24px auto;
}

.blog-title, .blog-article {
    /* css also present in editor.css */
    padding: 0;
    white-space: normal;
    min-height: auto;
    height: fit-content;
    color: var(--black);
}

.blog-title:not(.blog-card .blog-title) {
    font-size: 4em;
}

.published {
    text-transform: capitalize;
    font-style: italic;
    color: rgb(0, 0, 0, 0.5);
}

.article-image {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin: 48px auto;
    border-radius: 18px;
}

.sub-heading {
    color: var(--black);
    font-weight: 500;
    font-size: 42px;
    padding-bottom: 32px;
    position: relative;
    top: 80px;
}