@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joan&family=Lato:wght@100;400&family=Space+Mono&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Joan', serif;
font-family: 'Lato', sans-serif;
font-family: 'Space Mono', monospace;
*/

:root {
    --black: #323535;
    --lt-blue: #cee7e6;
    --lt-green: #7ddf64;
    --dk-green: #70b555;
    --white: #f5f5f5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

